.app{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.todo-list{
    font-size: 30px;
    color:white;
    background-color: silver;
}